/* Global styles for the loading container and animation */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 100vh; /* Adjust height as needed */
}

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.ring::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.verdict {
  color: #737373;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  animation: text 3s ease-in-out infinite;
}

.difficulty {
  color: #737373;
  font-weight: 500;
  /* font-style: normal;*/
  /* font-size: 15px; */
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  animation: text 3s ease-in-out infinite;
}

.refresh {
  color: #737373;
  font-weight: 500;
  /* font-style: normal;*/
  /* font-size: 15px; */
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  animation: text 3s ease-in-out infinite;
}

.title {
  color: #4338ca;
  /* font-size: 15px; */
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  line-height: 1.5;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50% {
    color: black;
  }
}

